.title{
    background-color: #ffffff;
    margin: 20px;
    border-radius: 30px;
    border: 5px solid #1C6EA4;
    padding: 10px;
}

.title h1{
    text-align: center;
}

.icon{
    font-size: 3em;
    color: #3f51b5;
}

.row{
    margin-bottom: 16px
}

.smallPadding{
    padding: 10px;
}
